@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #020617;
  color: white;
  overflow: auto;
}

@layer utilities {
  .animate-in {
    animation-fill-mode: both;
  }

  .slide-in-from-top {
    animation-name: slideInFromTop;
  }

  .slide-in-from-bottom {
    animation-name: slideInFromBottom;
  }

  .slide-out-to-top {
    animation-name: slideOutToTop;
  }

  .duration-200 {
    animation-duration: 200ms;
  }

  .duration-300 {
    animation-duration: 300ms;
  }

  .duration-700 {
    animation-duration: 700ms;
  }

  .delay-70{
    animation-delay: 70ms;
  }

  .delay-110{
    animation-delay: 110ms;
  }

  .delay-130{
    animation-delay: 130ms;
  }
}

@keyframes slideInFromTop {
  from {
    opacity: 0;
    transform: translateY(-1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
